

body{
    min-height: 100vh;
    background-image: url(img/online.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'segeo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}


nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: center;
    color: black;
}

nav a:hover{
    background-color: #f0f0ff;
}

nav li:first-child{
    margin-right: auto;
}
nav li:second-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}
#lg-bag {
    padding: 0px 10px 0px 0px;
}

@media (max-width: 800px) {
    .hideOnMobile{
        display: none;
    }

    .menu-button{
        display: block;
        padding-right: 30px;
    }
   
    

}

@media (max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}

nav .search_box{
    display: flex;
    outline: auto 0;
    height: 35px;
    line-height: 35px;
}
nav .search_box input{
    border: none;
    outline: none;
    background: #9a9af3;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 800px;
    border-radius: '';
}

nav .search_box span{
    color: #0a5071;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 20px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

nav .search_box span::after{
    height: 60%;
    width: 0%;
    content: '';
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3;
}

nav .search_box span:hover::after{
    width: 100%;
}
